#top-bar {
	background-color: blue;
}

.sign-in-form {
	padding: 1rem 1.5em;
	border-radius: .5rem;
	background-color: #3d454f;
}

.sign-in-form h4 {
	color: white;
	margin-bottom: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.sign-in-form label {
	text-transform: uppercase;
	color: #adadad;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 1rem;
}

.sign-in-form input {
	color: white;
}

.sign-in-form input:focus {
	opacity: .8;
}

.sign-in-form-username,
.sign-in-form-password {
	border-radius: 30px;
	border: none;
	opacity: .1;
	transition: all ease .4s;
}

.sign-in-form-button {
	border-radius: 30px;
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
	padding: 1rem;
	transition: all ease .4s;
}

.sign-in-form-button:hover {
	background-color: #44c8ed;
	border-color: #44c8ed;
}


.hero-section {
  background: url("https://i.pinimg.com/originals/48/62/d5/4862d581fe5e513648fd2421ff6320a2.jpg") 50% no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color:white;
}


